# course keynotes
*.key

# course slides
arrayFunctions.pdf

# exercises
student_exercises/corrections/basics/affichageNombres/
student_exercises/corrections/*.js
student_exercises/corrections/advanced/

student_exercises/corrections/DOM/snake/
student_exercises/corrections/DOM/*.zip

student_exercises/implementations/DOM/snake/
student_exercises/implementations/DOM/*.zip
student_exercises/implementations/terminal/

# OSX file
.DS_Store